{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-secondary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Ubuntu Kitchens</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to the African Cuisine</p>
        </div>
    </div>
</header>

<div class = "container">
   <div class = "row">
      <center>
           <div class = "col-8">
            <p align="justify">
            <br/><br>
             Welcome to Ubuntu Kitchen! Founded by Thobeka Ngwenya in October 2024,
             Ubuntu Kitchen celebrates the rich diversity and vibrant flavors of African cuisine. 
             Rooted in the spirit of "ubuntu"—a deep belief in community and shared humanity—our mission is to bring the 
             tastes of Africa right to your table.
             <br/><br/>
             At Ubuntu Kitchen, we take pride in offering traditional African dishes crafted from authentic,
             high-quality ingredients. Each recipe reflects the heritage and heart of our continent,
             carefully selected to bring you a genuine taste experience. Whether you're craving familiar 
             favorites or ready to explore new flavors, Ubuntu Kitchen is here to deliver.
             <br/><br/>
             Thank you for being part of our journey and for letting us share a piece of Africa with you.
             <br/><br/>
             <br/><br/>
             <br/><br/>
             <br/><br/>
             <br/><br/>
           </div>
      </center>
   </div>
</div>
{% endblock %}